<div class="content">
    <div class="contact-profile">
        <img src="/dist/images/photo-1529665253569-6d01c0eaf7b6.jpg"
            alt="" />
            <p>Amir Alemohammad</p>
            <div class="social-media">
                <span id="onlinesCount"><strong>افراد آنلاین : </strong><span id="count"><!-- this text from back end --></span></span>
            </div>
    </div>
    <div id="roomName">
        <h3> <!--this text from back end--> </h3>
    </div>
    <div class="messages pb-5">
        <ul>
            <!-- this text from back end -->
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <p>salam are babab khialet rahat</p>
            </li>
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
            <input type="text" id="messageInput" placeholder="Write your message..." />
            <!-- <input type="file" onchange="sendFile(this.files)"/> -->
            <!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> -->
            <div>
                <button class="submit">send</i></button>
                <!-- <button class="location" onclick="getLocation()">location</i></button> -->
            </div>
        </div>
    </div>
</div>