<div class="text">
    <h1>ارور</h1>
    <h1>404</h1>
    <hr>
    <h1>!صفحه مورد نظر پیدا نشد</h1>
    <a href="/support" class="btn">رفتن به خانه</a>
  </div>
  
  <div class="astronaut">
    <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
  </div>